body {
    background-image: url('indexbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed; /* no scroll*/
}

#name-title {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
    color: #12448E;
    letter-spacing: -1px;
    animation: slideInFromRight 1.5s ease;
}

a {
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    color: #12448E;
    font-size: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.photo {
    animation: slideInFromRight 1.5s ease;
}

